<header>
	<h1>QLAP Blog</h1>

	<nav>
		<ul>
			<li class="home"><%= link_to "Home", root_path %></li>
			<li class="posts"><%= link_to "Posts", posts_path %></li>
			<li class="contact"><%= link_to "Contact", pages_contact_path %></li>
		</ul>
	</nav>
</header>